.container {
	display: grid;
	grid-template-columns: 1fr;
	background-color: #eee3c3;
	gap: 5px 5px;
}
.section {
	display: grid;
	grid-auto-rows: 50px 200px;
	grid-auto-columns: repeat(10, 200px);
	grid-auto-flow: column;
	justify-items: stretch;
	background-color: #FFFFFF;
}
.sect_header {
	grid-column: 1/11;
	grid-row: 1/2;
	background-color: #808080;
}
.good {
	grid-row: 2/3;
}
