.container {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr;
	background-color: #eee3c3;
}
.section {
	display: grid;
	grid-auto-rows: 50px 200px;
	grid-auto-columns: 100px 100px 100px 100px 100px;
	grid-auto-flow: column;
}
.sect_header {
	grid-column: 1/5;
	grid-row: 1/2;
}
.good {
	grid-row: 2/3;
}